<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employees List</title>
</head>
<body>
	<h3>Employee List</h3>
	<hr />
	
	<table border="1">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.firstName}"/>
				<td th:text="${employee.lastName}"/>
				<td th:text="${employee.email}"/>				
			</tr>
		</tbody>
	</table>
	
</body>
</html>